gradio==4.32.0
faiss-cpu==1.8.0.post1
dashscope==1.20.4
openai==1.40.8
llama-index-vector-stores-faiss==0.1.2
llama-index-embeddings-dashscope==0.1.4
llama-index-readers-file==0.1.33
docx2txt==0.8
openpyxl==3.1.5
llama-index-core==0.10.67
uvicorn==0.30.6
fastapi==0.112.0
llama-index-postprocessor-dashscope-rerank-custom==0.1.0
simplejson==3.19.3
llama-index-llms-dashscope
llama-index-readers-dashscope
matplotlib==3.9.2
ragas==0.1.9
langchain_community==0.2.17
imageio-ffmpeg==0.5.1
pdf2image==1.17.0
python-dotenv==1.0.1
requests==2.32.3
dash==2.18.1
moviepy==1.0.3
ffmpeg-python==0.2.0
pydub==0.25.1
natsort==8.4.0
alibabacloud_bailian20231229==1.8.2
pandas==2.0.3
alibabacloud_green20220302==2.2.11
oss2==2.19.0